language: node_js
node_js:
  - 7
  - 6
cache:
  directories:
    - $HOME/.npm
    - node_modules
before_install:
  - sudo apt-get update
  - sudo apt-get -y install python3
  - npm install --global npm
install:
  - sudo pip install -r engine/requirements.txt
  - npm install
before_script:
  - npm prune
script:
  - npm test
env:
  global:
    - NODE_ENV=dev
    - PYTHONPATH=$(which python3)
